*{
	margin:0;
	padding:0;
}


#content{
	width:1024px;
	height:768px;
	position: absolute;
}


/*
Slide
 */

#headerSlide{
	width:1024px;
	height:340px;
	position: absolute;
	top:0;
	background: url(../images/headerSlides.jpg) no-repeat 0 0;
	display:none;
	z-index:25;
}

#textoIntro{
	display:none;
	top:53px;
	left:61px;
	position: absolute;
}

#texto1{
	width:683px;
	left:5px;
	top:120px;
	margin-left:45px;
	display:none;
	position:absolute;
	z-index:20;
}	
	
#esquema1{
	left:282px;
	top:250px;
	
	display:none;
	position:absolute;
	z-index: 15;	
}

#esquema2{
	left:495px;
	top:260px;
	position:absolute;
	display:none;
	z-index: 20;
}

#esquema3{
	left:85px;
	top:302px;
	position:absolute;
	display:none;
	z-index: 25;
}

#esquema4{
	left:610px;
	top:385px;
	position:absolute;
	display:none;
	z-index: 30;
}

